@page
@model IndexModel
@{
	ViewData["Title"] = "Gefundene Gegenstände";
}

@Html.DropDownList("dropdownCategory", Model.Categories, "", new { @class = "form-control w-25", @onchange = "filterCards()" })

<div id="cards" class="d-flex flex-wrap justify-content-center mt-2">
	<h1 id="noEntries" class="d-none">Keine Einträge gefunden.</h1>

	@if (Model.Items != null) {
		foreach (var item in Model.Items.Items) {
			<div class="card me-3 mb-3" style="min-width: 22rem; max-width: 22rem;">
				<img src="@item.ImagePath" class="card-img-top bg-white" alt="..." draggable="false">
				<div class="card-body">
					<h5 class="card-title">@item.Category</h5>
					<p class="card-text text-truncate-2">@item.Description</p>
					<div class="text-end">
						<a asp-page="Item" asp-route-item="@item.Id" class="btn btn-primary">Details</a>
					</div>
				</div>
				<div class="card-footer text-body-secondary d-flex justify-content-between">
					<div title="Wurde zu diesem Zeitpunkt gefunden.">
						<i class="bi bi-clock"></i> @item.DateFound.ToString("dddd, dd MMMM yyyy")
					</div>
					<div title="Wurde an dieser Location gefunden.">
						<i class="bi bi-geo-alt-fill"></i> @item.LocationFound
					</div>
				</div>
			</div>
		}
	} else {
		<h1>Keine Einträge gefunden.</h1>
	}


</div>
