@page "{item?}"
@model LostNFound.Pages.ItemModel
@{
}

<div><a asp-page="Index" class="btn btn-primary mb-2">Zurück</a></div>

<div class="card mb-3">
	<div class="row g-0">
		<div class="col-md-4">
			<img src="@Model.ImagePath" class="img-fluid rounded-start" alt="...">
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title">@Model.CategoryId</h5>
				<p class="card-text">@Model.Description</p>
				<p class="card-text" title="Wurde zu diesem Zeitpunkt gefunden."><small class="text-body-secondary"><i class="bi bi-clock"></i> @Model.DateFound</small></p>
				@if (Model.LocationFound != null) {
					<p class="card-text" title="Wurde an dieser Location gefunden."><small class="text-body-secondary"><i class="bi bi-geo-alt-fill"></i> @Model.LocationFound</small></p>
				}
			</div>
		</div>
	</div>
</div>

<div class="card p-3">
	<form>
		<div class="row">
			<div class="col mb-3">
				<label for="formFirstname" class="form-label required">Vorname:</label>
				<input type="text" class="form-control" id="formFirstname" required>
			</div>

			<div class="col mb-3">
				<label for="formLastName" class="form-label required">Nachname:</label>
				<input type="text" class="form-control" id="formLastName" required>
			</div>
		</div>

		<div class="row">
			<div class="col mb-3">
				<label for="formClass" class="form-label required">Klasse:</label>
				<input type="text" class="form-control" id="formClass" required>
			</div>

			<div class="col mb-3">
				<label for="formEmail" class="form-label required">Email:</label>
				<input type="email" class="form-control" id="formEmail" required>
			</div>
		</div>

		<div class="row">
			<div class="col mb-3">
				<label for="formTextarea" class="form-label required">Deshalb gehört mir der Gegenstand</label>
				<textarea class="form-control" placeholder="Der Gegenstand gehört mir weil, ..." id="formTextarea" style="height: 100px" required></textarea>
			</div>

			<div class="col mb-3">
				<label for="formFile" class="form-label">
					Hier können Sie ein Bild anhängen, das zeigt, dass sie der Eigentümer des Gegenstandes sind. (max. 2 MB)
				</label>
				<input class="form-control" type="file" id="formFile" accept="image/png, image/jpeg">
			</div>
		</div>

		<div class="mb-3 form-check">
			<input type="checkbox" class="form-check-input" id="formCheckbox" required>
			<label class="form-check-label" for="formCheckbox">Bedingungen akzeptieren</label>
		</div>
		<button type="submit" class="btn btn-primary">Absenden</button>
	</form>


</div>
